@font-face {
font-family: 'Chonker';
src:
    local('Chonker'),
    url('../fonts/Chonker.ttf');
}

button{
    transition : all .3s;
    background: black none repeat scroll 0% 0%;
    color: white;
    height: 40px;
    width: 40%;
    font-family: Chonker;
    border: 3px solid white;
}

button:hover{
    background: white;
    color :black;
}



html body{
    margin : 0px;
    padding : 0px;
    background-image: url("../img/machine.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Chonker';
    overflow: hidden;
}

input{
    font-family: 'Chonker';
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.container{
    position: fixed;
    width: 80%;
    height: 80vh;
    top : 10vh;
    left: 10%;
    box-shadow: 10px 10px 5px #888888;
    display: inline-flex;
}

.border-style{
    border-color:#9C2903;
    border-width: 7px;
    border-style: double;
}

.getData{
    font-family: 'Chonker';
    padding-top: 10%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.getData input{
    width: 40%;
    height: 30px;
    font-size: 13px;
}

.getData textarea{
    width: 150px;
    height: 50px;
    text-align: center;
    font-family: 'Chonker';
}

.information{
    font-family: 'Chonker';
    height: 100%;
    width: 100%;
    text-align: center;
    border-left:  1px solid black;
}

.information h2{
    margin-top: 20%;
}

.important{
    font-weight: bold;
}

/*Color classes*/
    .c-low-yellow{
        background-color:  #FFDC6C;
    }

    .c-soft-yellow{
        background-color:  #FFD55D;
    }

    .c-medium-yellow{
        background-color: #FFAB1A;
    }

    .c-hard-yellow{
        background-color: #F0920D;
    }

    .c-hard-brown{
        background-color: #9C2903;
    }

    .c-white{
        background-color: #F2F1E9;
    }
/*End backgrounds*/

/*Font color*/
    .cf-low-yellow{
        color:  #FFDC6C;
    }

    .cf-soft-yellow{
        color:  #FFD55D;
    }

    .cf-medium-yellow{
        color: #FFAB1A;
    }

    .cf-hard-tellow{
        color: #F0920D;
    }

    .cf-hard-brown{
        color: #9C2903;
    }

    .cf-white{
        color: #F2F1E9;
    }
/*End*/


/*Functions*/
.disable{
    cursor: not-allowed;
}
